<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        <%= pageTitle %>
    </title>
    <meta name="description" content="<%= description %>" />
    <meta property="og:locale" content="en_KE" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/styles.css" />
    
</head>

<body>

    <div class="progress-bar" id="progressBar"></div>

    <div class="navbar">
        <h1>
            <%= siteName %>
        </h1>

        <nav>
            <a href="/how-tos"><button class="btn-navbar">How to's</button></a>
            <a href="/about"><button class="btn-navbar">About</button></a>
            <a href="/dashboard"><button class="btn-navbar">Account</button></a>
            <a href="/login"><button class="btn-navbar">Login</button></a>
        </nav>
    </div>

    

    <div class="footer">
        © <%= new Date().getFullYear() %>
        <%= siteName %> — Clean minimal publishing.
    </div>

    <script src="/js/main.js"></script>
</body>

</html>