<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= pageTitle %>
    </title>
    <meta name="description" content="<%= description %>" />
    <meta property="og:locale" content="en_KE" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

</head>

<body>

    <div class="progress-bar" id="progressBar"></div>

    <!-- Navbar -->
    <div class="navbar">
        <h1>
            <%= siteName %>
        </h1>

        <nav>
            <a href="/how-tos"><button class="btn-navbar">How to's</button></a>
            <a href="/about"><button class="btn-navbar">About</button></a>
          </nav>
    </div>

    <%- include('login'); %>


    <!-- Footer -->
    <div class="footer">
        © <%= new Date().getFullYear() %>
        <%= siteName %> — Clean minimal publishing.
    </div>

    <script src="/js/main.js"></script>
</body>

</html>
